{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<h1 align="center">Welcome to SuperNotes, {{ user.name }}!</h1>
    <p align="center">This is your personal note-taking space.</p>
    <p align="center">Feel free to explore and create notes.</p>
<ul class="list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
        {{ note.content }}
        <button class="close" onClick="deleteNote('{{ note.id }}')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea class="form-control" id="note" name="note" rows="5" placeholder="Write your note here..."></textarea>
    <br>
    <div align="center">
        <button type="submit" class="btn btn-primary mt-3">Save Note</button>
    </div>
</form>

{% endblock %}